*{
padding: 0;
margin: 0;

}
ul{
    list-style: none;
}
body{
    background-color: #01025e;
    color: white;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 20px;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.card{
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 20px;
    width: 530px;
    height: 650px;
    padding-bottom:30px ;
   

}
.card .profile{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  
   
}
.card img{
 width: 60%;
 border-radius: 50%;
 margin-top: 20px;
}

.profile{
    width: 100%;
    border-bottom: solid 1px #141414;
    padding-bottom: 10px;
}
.card .numbers{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
    border-bottom: solid 1px #141414;
    padding-bottom: 20px;
   

}
.profile .numbers .info .counter .card {
    font-weight: 700;
   


}
a{
    text-decoration: none;
    color: black;
    font-family: 'Qwitcher Grypen', cursive;
    font-family: 'VT323', monospace;
}
button{
    font-family: 'Kumbh Sans', sans-serif ;
    background: linear-gradient(80deg,#7939a3, #df3f53); 
    font-size: 40px;
    border-radius: 15px;
    padding: 5px 10px;
    border: solid 10px black;
    
}
button:hover{
    background: linear-gradient(80deg, #df3f53,#7939a3);

}
@media (max-width:650px){
    body{
        font-size: 15px;
    }


}
