*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Kumbh Sans', sans-serif;
    background-color: #303134;
    color: white;
}
header{
    margin: 0 auto;
    top: 0;
    left: 0;
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    width: 100%;
    
    
}
.header-1{
    display: flex;
    justify-content: space-around;
   
}
.nomes-header{
    color: white;
    text-decoration: none;
}
main{
    margin-top: 80px;
    

   
}
section{
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    width: 990px;
    max-width: 100%;
    flex-wrap: wrap;
    justify-content: center;
   

}
.flex{
    display: flex;
    flex-direction: column;
    margin: 1em;
    width: 250px;
}
.flex img{
    width: 100%;
    border-radius: 2px;
}
h3{
    padding: 10px 0;
}
.botao{
    color: rgb(98, 98, 255);
    text-decoration: none;
    align-self: flex-start;
    margin-top: auto;
    padding: 10px 0px;
}